# SQLAlchemy

https://it-engineer-lab.com/archives/1183

https://qiita.com/bokotomo/items/a762b1bc0f192a55eae8

In [22]:
from sqlalchemy import *
from sqlalchemy.orm import *
from sqlalchemy.ext.declarative import declarative_base


dns = 'mysql+mysqlconnector://honomara:honomara@localhost/honomara'

engine = create_engine(
    dns,
    encoding = "utf-8",
    echo=True # Trueだと実行のたびにSQLが出力される
)

In [23]:
engine

Engine(mysql+mysqlconnector://honomara:***@localhost/honomara)

In [24]:
# session = scoped_session(
# 　　　　sessionmaker(
# 　　　　　　　　autocommit = False,
# 　　　　　　　　autoflush = False,
# 　　　　　　　　bind = ENGINE
# 　　　　)
# )

# modelで使用する
Base = declarative_base()
# Base.query = session.query_property()

In [25]:
class Member(Base):
    __tablename__ = 'members'
 
    member_id = Column(Integer, primary_key=True)
    family_name = Column(String(20), nullable=False)
    first_name = Column(String(20), nullable=False)
    show_name = Column(String(20), nullable=False)
    kana = Column(String(40), nullable=False)
    year = Column(Integer, nullable=False)  # 点数
    sex = Column(Integer, nullable=False)  # 点数
    visible = Column(Boolean, nullable=False)  # 点数
    
#     afters = relationship(
#         'After',
#         secondary=AfterParticipant.__tablename__,
#         back_populates='participants',
#     )
    def __repr__(self):
        fields={}
        fields['member_id'] = self.member_id
        fields['family_name'] = self.family_name
        fields['first_name'] = self.first_name
        fields['show_name'] = self.show_name
        fields['year'] = self.year
        fields['sex'] = 'male' if self.sex == 0 else 'female' if self.sex == 1 else 'other'
        fields['visible'] = self.visible
        return "<Member('{member_id}','{family_name}', '{first_name}', '{show_name}', {year}, {sex}, {visible})>".format(**fields)

    

class AfterParticipant(Base):
    __tablename__ ='after_participants'
    
    member_id = Column(Integer, ForeignKey('members.member_id'), primary_key=True)
    after_id  = Column(Integer, ForeignKey('afters.after_id'), primary_key=True)
    def __repr__(self):
        return "<AfterParticipant(after_id:{}, member_id:{})>".format(self.after_id,self.member_id)


class Restaurant(Base):
    __tablename__ = 'restaurants'
    restaurant_id = Column(Integer, primary_key=True)
    restaurant_name = Column(String(64),nullable=False)
    place = Column(String(20))
    comment = Column(Text)
    def __repr__(self):
        return "<Restaurant(id:{}, name:{}, plase:{})>".format(self.restaurant_id,self.restaurant_name,self.place)

    
class After(Base):
    __tablename__ = 'afters'

    after_id    = Column(Integer, primary_key=True)
    date        = Column(Date, nullable=False)
    after_stage = Column(Integer, nullable=False, server_default=text('1'))
    restaurant_id = Column(Integer, ForeignKey('restaurants.restaurant_id'), nullable=False)
#     restaurant_id = Column(Integer, nullable=False)
    total       = Column(Integer) 
    title       = Column(String(128), nullable=False)
    comment     = Column(Text)
    restaurant = relationship('Restaurant')
    
    participants = relationship(
        'Member',
        secondary=AfterParticipant.__tablename__,
#         back_populates='afters',
    )
    def __repr__(self):
        return "<After(after_id:{}, {:%Y-%m-%d}, title:'{}')>".format(self.after_id,self.date,self.title)


class TrainingParticipant(Base):
    __tablename__ ='training_participants'
    
    member_id = Column(Integer, ForeignKey('members.member_id'), primary_key=True)
    training_id  = Column(Integer, ForeignKey('trainings.training_id'), primary_key=True)
    def __repr__(self):
        return "<TrainingParticipant(training_id:{}, member_id:{})>".format(self.training_id,self.member_id)


class Training(Base):
    __tablename__ = 'trainings'
    training_id  = Column(Integer, primary_key=True)
    date = Column(Date, nullable=False)
    wday = Column(String(1))
    place = Column(String(20),nullable = False)
    weather = Column(String(20),nullable = False)
    title = Column(String(20),nullable = False)
    comment = Column(Text)

    participants = relationship(
        'Member',
        secondary=TrainingParticipant.__tablename__,
#         back_populates='trainings',
    )
    def __repr__(self):
        return "<Training(training_id:{}, {:%Y-%m-%d}, place:{}, title:'{}')>".format(self.training_id,self.date, self.place, self.title)

In [26]:
# SQLAlchemy はセッションを介してクエリを実行する
Session = sessionmaker(bind=engine)
session = Session()

In [27]:
# id 指定で取得
student = session.query(Member).get(7)
print(student)  # <Student(id='7', name='Watanabe', score='88')>
 
# 存在しない id の場合には None が返される
student = session.query(Member).get(20)
print(student)  # None

2019-05-10 02:37:18,692 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2019-05-10 02:37:18,694 INFO sqlalchemy.engine.base.Engine {}
2019-05-10 02:37:18,697 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2019-05-10 02:37:18,699 INFO sqlalchemy.engine.base.Engine {}
2019-05-10 02:37:18,705 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2019-05-10 02:37:18,706 INFO sqlalchemy.engine.base.Engine {}
2019-05-10 02:37:18,708 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2019-05-10 02:37:18,709 INFO sqlalchemy.engine.base.Engine {}
2019-05-10 02:37:18,715 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2019-05-10 02:37:18,716 INFO sqlalchemy.engine.base.Engine {}
2019-05-10 02:37:18,718 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-05-10 02:37:18,720 INFO sqlalchemy.engine.base.Engine SELECT members.member_id AS members_member_id, members.family_name AS members_family_name, members.first_name AS members_first_name, members.show_name AS members_show_name, members.kana AS members_kana, members.year AS members_year, members.sex AS members_sex, members.visible AS members_visible
FROM members
WHERE members.member_id = %(param_1)s
2019-05-10 02:37:18,720 INFO sqlalchemy.engine.base.Engine {'param_1': 7}
<Member('7','斎藤', '秀雄', '斎藤', 2000, male, False)>
2019-05-10 02:37:18,728 INFO sqlalchemy.engine.base.Engine SELECT members.member_id AS members_member_id, members.family_name AS members_family_name, members.first_name AS members_first_name, members.show_name AS members_show_name, members.kana AS members_kana, members.year AS members_year, members.sex AS members_sex, members.visible AS members_visible
FROM members
WHERE members.member_id = %(param_1)s
2019-05-10 02:37:18,729 INFO sqlalchemy.engine.base.Engine {'param_1': 20}
<Member('20','杉山', '晋平', '杉山', 1997, male, False)>

In [28]:

try:
    # sqlalchemy.orm.exc.NoResultFound: No row was found for one()
    student = session.query(Member).filter_by(year=2015).order_by(Member.kana.desc()).first()
    print(student)
except NoResultFound as ex:
    print("NoResultFound")
    print(ex)

2019-05-10 02:37:18,822 INFO sqlalchemy.engine.base.Engine SELECT members.member_id AS members_member_id, members.family_name AS members_family_name, members.first_name AS members_first_name, members.show_name AS members_show_name, members.kana AS members_kana, members.year AS members_year, members.sex AS members_sex, members.visible AS members_visible
FROM members
WHERE members.year = %(year_1)s ORDER BY members.kana DESC
 LIMIT %(param_1)s
2019-05-10 02:37:18,824 INFO sqlalchemy.engine.base.Engine {'param_1': 1, 'year_1': 2015}
<Member('1010','渡邉', '淳一郎', '渡邉（淳）', 2015, male, True)>

In [29]:
# count()メソッドでレコード数を取得できます
count = session.query(Member).count()
print(count)

2019-05-10 02:37:18,941 INFO sqlalchemy.engine.base.Engine SELECT count(*) AS count_1
FROM (SELECT members.member_id AS members_member_id, members.family_name AS members_family_name, members.first_name AS members_first_name, members.show_name AS members_show_name, members.kana AS members_kana, members.year AS members_year, members.sex AS members_sex, members.visible AS members_visible
FROM members) AS anon_1
2019-05-10 02:37:18,943 INFO sqlalchemy.engine.base.Engine {}
1377

In [30]:
# count()メソッドでレコード数を取得できます
count = session.query(Member).filter(Member.year > 2015).count()
print(count)

2019-05-10 02:37:19,085 INFO sqlalchemy.engine.base.Engine SELECT count(*) AS count_1
FROM (SELECT members.member_id AS members_member_id, members.family_name AS members_family_name, members.first_name AS members_first_name, members.show_name AS members_show_name, members.kana AS members_kana, members.year AS members_year, members.sex AS members_sex, members.visible AS members_visible
FROM members
WHERE members.year > %(year_1)s) AS anon_1
2019-05-10 02:37:19,088 INFO sqlalchemy.engine.base.Engine {'year_1': 2015}
259

In [31]:
for member in session.query(Member).filter(Member.kana.like('ワタナベ%')).limit(5):
    print(member)

2019-05-10 02:37:19,222 INFO sqlalchemy.engine.base.Engine SELECT members.member_id AS members_member_id, members.family_name AS members_family_name, members.first_name AS members_first_name, members.show_name AS members_show_name, members.kana AS members_kana, members.year AS members_year, members.sex AS members_sex, members.visible AS members_visible
FROM members
WHERE members.kana LIKE %(kana_1)s
 LIMIT %(param_1)s
2019-05-10 02:37:19,224 INFO sqlalchemy.engine.base.Engine {'param_1': 5, 'kana_1': 'ワタナベ%'}
<Member('198','渡辺', '不明', '渡辺', 2003, female, False)>
<Member('308','渡辺', '明里', '渡辺', 2008, female, False)>
<Member('334','渡辺', '07', '渡辺', 2007, male, False)>
<Member('343','渡辺', 'えり', '渡辺', 2007, female, False)>
<Member('364','渡辺', '春彦', '渡辺（春）', 1995, male, False)>

In [32]:
a=session.query(After).order_by(After.date.desc()).limit(1).one()

2019-05-10 02:37:19,358 INFO sqlalchemy.engine.base.Engine SELECT afters.after_id AS afters_after_id, afters.date AS afters_date, afters.after_stage AS afters_after_stage, afters.restaurant_id AS afters_restaurant_id, afters.total AS afters_total, afters.title AS afters_title, afters.comment AS afters_comment
FROM afters ORDER BY afters.date DESC
 LIMIT %(param_1)s
2019-05-10 02:37:19,360 INFO sqlalchemy.engine.base.Engine {'param_1': 1}

In [33]:
a.title,a.comment,a.date,a.participants,a.restaurant_id,a.after_stage,a.total,a.restaurant

2019-05-10 02:37:19,493 INFO sqlalchemy.engine.base.Engine SELECT members.member_id AS members_member_id, members.family_name AS members_family_name, members.first_name AS members_first_name, members.show_name AS members_show_name, members.kana AS members_kana, members.year AS members_year, members.sex AS members_sex, members.visible AS members_visible
FROM members, after_participants
WHERE %(param_1)s = after_participants.after_id AND members.member_id = after_participants.member_id
2019-05-10 02:37:19,495 INFO sqlalchemy.engine.base.Engine {'param_1': 5186}
2019-05-10 02:37:19,500 INFO sqlalchemy.engine.base.Engine SELECT restaurants.restaurant_id AS restaurants_restaurant_id, restaurants.restaurant_name AS restaurants_restaurant_name, restaurants.place AS restaurants_place, restaurants.comment AS restaurants_comment
FROM restaurants
WHERE restaurants.restaurant_id = %(param_1)s
2019-05-10 02:37:19,501 INFO sqlalchemy.engine.base.Engine {'param_1': 671}

('フライングアフター',
 '雨の中走ってるフレンズに背を向けてラーメンを食べたのはランシューを持って来るのを忘れたからであって、断じて雨だとか寒いとかっていう理由ではないゾ',
 datetime.date(2019, 4, 10),
 [<Member('1207','五百蔵', '謙', '五百蔵', 2017, male, True)>,
  <Member('1203','中内', '風花', '中内', 2017, female, True)>,
  <Member('1202','十川', '暖奈', '十川', 2017, female, True)>,
  <Member('1335','櫻木', '哲平', '櫻木', 2018, male, True)>],
 671,
 1,
 4,
 <Restaurant(id:671, name:町田商店, plase:渋谷)>)

In [34]:
import datetime

In [35]:
"{:%Y-%m-%d %H:%M:%S}".format(datetime.date(2019,4,10))

'2019-04-10 00:00:00'

In [36]:
len(a.participants)

4

In [37]:
a=session.query(Training).order_by(Training.date.desc()).limit(1).one()

2019-05-10 02:37:20,812 INFO sqlalchemy.engine.base.Engine SELECT trainings.training_id AS trainings_training_id, trainings.date AS trainings_date, trainings.wday AS trainings_wday, trainings.place AS trainings_place, trainings.weather AS trainings_weather, trainings.title AS trainings_title, trainings.comment AS trainings_comment
FROM trainings ORDER BY trainings.date DESC
 LIMIT %(param_1)s
2019-05-10 02:37:20,814 INFO sqlalchemy.engine.base.Engine {'param_1': 1}

In [38]:
a.title,a.comment,a.date,a.participants,a.place

2019-05-10 02:37:21,154 INFO sqlalchemy.engine.base.Engine SELECT members.member_id AS members_member_id, members.family_name AS members_family_name, members.first_name AS members_first_name, members.show_name AS members_show_name, members.kana AS members_kana, members.year AS members_year, members.sex AS members_sex, members.visible AS members_visible
FROM members, training_participants
WHERE %(param_1)s = training_participants.training_id AND members.member_id = training_participants.member_id
2019-05-10 02:37:21,155 INFO sqlalchemy.engine.base.Engine {'param_1': 2015}

('リリリターン',
 '新歓期なのになぁ…\n寒すぎなんだよなぁ…\n何回寒さ戻ってくるんだよ…\n心が折れそうになる\nでもね\n今日は新しい人が来てくれたよ\n頼もしいニューカマーだね\nこれからの練習が楽しみだね\nうん、楽しみだね、うんうん',
 datetime.date(2019, 4, 10),
 [<Member('1207','五百蔵', '謙', '五百蔵', 2017, male, True)>,
  <Member('1203','中内', '風花', '中内', 2017, female, True)>,
  <Member('1202','十川', '暖奈', '十川', 2017, female, True)>,
  <Member('1226','鎌田', '知啓', '鎌田', 2017, male, True)>,
  <Member('1274','河口', '姫子', '河口', 2018, female, True)>,
  <Member('1268','浅井', '一樹', '浅井', 2018, male, True)>,
  <Member('1334','中江', '優介', '中江', 2018, male, True)>,
  <Member('1335','櫻木', '哲平', '櫻木', 2018, male, True)>,
  <Member('1272','鳥本', '明大', '鳥本', 2018, male, True)>,
  <Member('1378','岡田', '夏実', '岡田', 2019, female, True)>,
  <Member('1362','足立', '有香', '足立', 2019, female, True)>,
  <Member('1377','Florian', '不明', 'Florian', 2015, male, True)>],
 '代々木公園')

In [39]:
a